In [1]:
import pandas as pd
import numpy as np

# Đọc dữ liệu df.A
- Tạo df_train 80%
- Tạo df_test 20% phần còn lại không thuộc df_train

In [2]:
A = pd.read_csv('data.csv')

In [3]:
A

,MODELYEAR,MAKE,MODEL,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,CO2EMISSIONS
0,2014,ACURA,ILX,2.0,4,9.9,196
1,2014,ACURA,ILX,2.4,4,11.2,221
2,2014,ACURA,ILX HYBRID,1.5,4,6.0,136
3,2014,ACURA,MDX 4WD,3.5,6,12.7,255
4,2014,ACURA,RDX AWD,3.5,6,12.1,244
...,...,...,...,...,...,...,...
1062,2014,VOLVO,XC60 AWD,3.0,6,13.4,271
1063,2014,VOLVO,XC60 AWD,3.2,6,13.2,264
1064,2014,VOLVO,XC70 AWD,3.0,6,13.4,271
1065,2014,VOLVO,XC70 AWD,3.2,6,12.9,260
1066,2014,VOLVO,XC90 AWD,3.2,6,14.9,294

In [4]:
df_train = A.sample(frac=0.8)

In [5]:
df_train

,MODELYEAR,MAKE,MODEL,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,CO2EMISSIONS
661,2014,LEXUS,GX 460,4.6,8,15.7,320
63,2014,AUDI,SQ5,3.0,6,14.9,292
393,2014,FORD,FIESTA,1.6,4,8.6,175
43,2014,AUDI,Q7 TDI CLEAN DIESEL,3.0,6,12.9,294
232,2014,CHEVROLET,IMPALA ECO,2.4,4,10.0,200
...,...,...,...,...,...,...,...
272,2014,CHEVROLET,TRAX,1.4,4,9.1,186
1064,2014,VOLVO,XC70 AWD,3.0,6,13.4,271
1022,2014,VOLKSWAGEN,BEETLE CONVERTIBLE,2.0,4,10.8,216
362,2014,FORD,EXPEDITION 4X4 FFV,5.4,8,24.5,346
483,2014,HONDA,ACCORD,2.4,4,10.1,200

In [6]:
df_test = A.loc[~A.index.isin(df_train.index)]

In [7]:
df_test

,MODELYEAR,MAKE,MODEL,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,CO2EMISSIONS
2,2014,ACURA,ILX HYBRID,1.5,4,6.0,136
12,2014,ASTON MARTIN,DB9,5.9,12,18.0,359
14,2014,ASTON MARTIN,V8 VANTAGE,4.7,8,17.4,338
16,2014,ASTON MARTIN,V8 VANTAGE S,4.7,8,17.4,338
25,2014,AUDI,A6 QUATTRO,2.0,4,12.0,235
...,...,...,...,...,...,...,...
1055,2014,VOLKSWAGEN,TOUAREG TDI CLEAN DIESEL,3.0,6,12.3,281
1059,2014,VOLVO,S80,3.2,6,11.9,235
1060,2014,VOLVO,S80 AWD,3.0,6,13.2,264
1063,2014,VOLVO,XC60 AWD,3.2,6,13.2,264
1066,2014,VOLVO,XC90 AWD,3.2,6,14.9,294

# Câu 2.
- Tạo mảng X, y từ df_train
- Xw = y Tính (w1, w2, w3)
- Thêm Prediction1 vào df_test với nghiệm w1, w2, w3 đã tisnh

In [8]:
X = df_train[['ENGINESIZE', 'CYLINDERS', 'FUELCONSUMPTION_CITY']]

In [9]:
X

      ENGINESIZE  CYLINDERS  FUELCONSUMPTION_CITY
661          4.6          8                  15.7
63           3.0          6                  14.9
393          1.6          4                   8.6
43           3.0          6                  12.9
232          2.4          4                  10.0
...          ...        ...                   ...
272          1.4          4                   9.1
1064         3.0          6                  13.4
1022         2.0          4                  10.8
362          5.4          8                  24.5
483          2.4          4                  10.1

[854 rows x 3 columns]

In [10]:
y = df_train[['CO2EMISSIONS']]

In [11]:
y

      CO2EMISSIONS
661            320
63             292
393            175
43             294
232            200
...            ...
272            186
1064           271
1022           216
362            346
483            200

[854 rows x 1 columns]

In [12]:
X_giadao = np.linalg.pinv(X)

In [13]:
X_giadao

array([[-2.11959259e-04, -2.30054887e-03, -2.82223049e-03, ...,
        -1.66336790e-03,  1.44744813e-03, -7.06140385e-05],
       [ 1.30188552e-03,  8.59313314e-04,  1.73100401e-03, ...,
         3.06786324e-04, -2.89746435e-03, -2.27055900e-04],
       [-4.04846586e-04,  3.08996145e-04,  3.31818340e-05, ...,
         3.57228165e-04,  1.01103288e-03,  1.75233192e-04]])

In [14]:
w = X_giadao.dot(y)

In [15]:
w

array([[-9.11548756],
       [22.65551008],
       [11.47355457]])

In [16]:
prediction1 = df_test[['ENGINESIZE', 'CYLINDERS', 'FUELCONSUMPTION_CITY']].dot(w)

In [17]:
df_test.insert(df_test.shape[1], "Prediction1", prediction1)

In [18]:
df_test

,MODELYEAR,MAKE,MODEL,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,CO2EMISSIONS,Prediction1
2,2014,ACURA,ILX HYBRID,1.5,4,6.0,136,145.790136
12,2014,ASTON MARTIN,DB9,5.9,12,18.0,359,424.608727
14,2014,ASTON MARTIN,V8 VANTAGE,4.7,8,17.4,338,338.041139
16,2014,ASTON MARTIN,V8 VANTAGE S,4.7,8,17.4,338,338.041139
25,2014,AUDI,A6 QUATTRO,2.0,4,12.0,235,210.073720
...,...,...,...,...,...,...,...,...
1055,2014,VOLKSWAGEN,TOUAREG TDI CLEAN DIESEL,3.0,6,12.3,281,249.711319
1059,2014,VOLVO,S80,3.2,6,11.9,235,243.298800
1060,2014,VOLVO,S80 AWD,3.0,6,13.2,264,260.037518
1063,2014,VOLVO,XC60 AWD,3.2,6,13.2,264,258.214421
1066,2014,VOLVO,XC90 AWD,3.2,6,14.9,294,277.719463

# Câu 3 Sử dụng Gradient Descent tìm w.
- Thêm 1 cột Prediction2

In [19]:
y_GS = y.copy().to_numpy().reshape(y.shape[0],1)

In [20]:
X_GS = df_train[['ENGINESIZE', 'CYLINDERS', 'FUELCONSUMPTION_CITY']].to_numpy()

In [21]:
X_GS.shape

(854, 3)

In [22]:
X_GS = np.c_[np.ones(X_GS.shape[0]), X_GS]

In [23]:
X_GS

array([[ 1. ,  4.6,  8. , 15.7],
       [ 1. ,  3. ,  6. , 14.9],
       [ 1. ,  1.6,  4. ,  8.6],
       ...,
       [ 1. ,  2. ,  4. , 10.8],
       [ 1. ,  5.4,  8. , 24.5],
       [ 1. ,  2.4,  4. , 10.1]])

# Khởi tạo theta theta = [1, 1, 1, 1]

In [24]:
theta = np.ones(4).reshape(4,1)

In [25]:
theta

array([[1.],
       [1.],
       [1.],
       [1.]])

In [26]:
alpha = 0.001
num_iter = 1000

# Khởi tạo hàm tính khoảng cách giữa các điểm và theta được truyền vào

In [27]:
# X.shape(854 x 4) and y.shape(4 x 1) => h(854 x 1) - y.shape(854x1) = loss (hi - yi) shape 854 x1
def Compute_Loss(X_GS, y_GS, theta):
    m = X_GS.shape[0]
    h = X_GS.dot(theta)
    loss = h - y
    return loss.to_numpy()

# Define Gradient descent

In [28]:
def Gradient_descent(alpha, X_GS, y_GS, num_iter):
    m = X_GS.shape[0]
    theta = np.ones(X_GS.shape[1]).reshape(X_GS.shape[1],1)
    for i in range(num_iter):
        loss = Compute_Loss(X_GS, y_GS, theta)
        J = np.sum(loss ** 2) / (2 * m)
        # X_GS.T.shape (4, 854) loss.shape 854x1 Lấy từng dòng trong X_GS.T nhân cho cột của loss tương đương với việc 
        # đi cộng từ các của loss = > (X_GS.T.dot(loss) / m) trả về 4x1. theta cũng là 4x1 tao đồng loạt update theta
        theta = theta - alpha * (X_GS.T.dot(loss) / m)
    return theta

In [29]:
theta = Gradient_descent(alpha, X_GS, y_GS, num_iter)

In [30]:
theta

array([[ 6.90612552],
       [ 3.54541651],
       [12.6663031 ],
       [12.03630035]])

In [31]:
X_GS_test = df_test[['ENGINESIZE', 'CYLINDERS', 'FUELCONSUMPTION_CITY']].to_numpy()

In [32]:
X_GS_test = np.c_[np.ones(X_GS_test.shape[0]), X_GS_test]

In [33]:
prediction2 = X_GS_test.dot(theta)

In [34]:
prediction2

array([[135.10726475],
       [396.47312632],
       [334.33163391],
       [334.33163391],
       [209.09777508],
       [284.90827101],
       [251.21572816],
       [299.35183142],
       [400.29855299],
       [378.29686697],
       [334.96618572],
       [378.28776884],
       [306.57361163],
       [269.27017868],
       [189.83969452],
       [307.77724166],
       [420.90026866],
       [420.90026866],
       [189.83969452],
       [187.43243445],
       [235.56853771],
       [236.77216775],
       [192.24695459],
       [230.75401757],
       [236.77216775],
       [243.99394795],
       [304.38088813],
       [243.99394795],
       [204.27415681],
       [219.92134726],
       [332.06437892],
       [318.82444854],
       [332.06437892],
       [318.82444854],
       [252.4193582 ],
       [245.19757799],
       [204.28325494],
       [210.30140511],
       [206.69051501],
       [253.34297807],
       [331.22434844],
       [439.55105155],
       [273.80468866],
       [264.17564838],
       [266.58290845],
       [331.22434844],
       [172.06525417],
       [190.33424125],
       [163.63984392],
       [347.29155413],
       [202.44507309],
       [203.0796249 ],
       [172.06525417],
       [164.84347396],
       [179.50157094],
       [164.84347396],
       [385.80771524],
       [246.12119786],
       [300.28454942],
       [249.73208797],
       [303.89543952],
       [297.87728935],
       [265.37927841],
       [333.13706178],
       [331.93343174],
       [315.93173987],
       [331.93343174],
       [235.57763584],
       [270.19379855],
       [132.06545287],
       [427.08567806],
       [375.32958658],
       [246.97028625],
       [255.39569649],
       [199.4687348 ],
       [280.67192721],
       [391.96587049],
       [170.3670774 ],
       [187.43243445],
       [205.48688497],
       [128.45456276],
       [260.21021663],
       [299.93000776],
       [201.6614583 ],
       [303.96997101],
       [350.90244423],
       [302.75724285],
       [306.36813296],
       [366.54963468],
       [321.94989004],
       [385.80771524],
       [334.83523854],
       [356.50057917],
       [385.80771524],
       [175.61067068],
       [159.03986036],
       [190.05423109],
       [255.39569649],
       [278.26466714],
       [314.93354828],
       [201.87599487],
       [166.7561873 ],
       [182.40337774],
       [200.0287149 ],
       [258.51203986],
       [250.08662962],
       [243.35939614],
       [314.93354828],
       [382.33683021],
       [373.91141997],
       [304.10087797],
       [317.34080835],
       [202.09053144],
       [187.43243445],
       [206.90505158],
       [308.70995966],
       [199.68327137],
       [190.05423109],
       [206.90505158],
       [273.80468866],
       [276.21194873],
       [175.89068084],
       [196.84693816],
       [181.41428428],
       [182.61791432],
       [188.85060106],
       [167.95981733],
       [255.89024322],
       [221.34861199],
       [334.19162883],
       [332.9879988 ],
       [231.3230958 ],
       [240.95213607],
       [187.99241455],
       [233.79582946],
       [226.57404925],
       [242.15576611],
       [245.76665621],
       [255.39569649],
       [248.17391628],
       [343.96067419],
       [160.95257369],
       [163.35983376],
       [179.57610243],
       [240.95213607],
       [345.66790885],
       [310.25903322],
       [309.48447633],
       [237.34124597],
       [314.29899647],
       [254.82661826],
       [256.59932652],
       [309.55904804],
       [319.8880735 ],
       [349.27879896],
       [166.7561873 ],
       [167.95981733],
       [172.77433747],
       [175.18159754],
       [183.60700778],
       [172.77433747],
       [172.77433747],
       [175.18159754],
       [235.57763584],
       [225.94859556],
       [180.21065425],
       [183.82154435],
       [247.67936955],
       [252.49388969],
       [275.22285526],
       [175.18159754],
       [243.35939614],
       [239.74850604],
       [157.83623032],
       [365.20599957],
       [234.57944425],
       [288.95733237],
       [221.26498238],
       [230.89402265],
       [305.79905473],
       [235.56853771],
       [238.19033435],
       [318.61896987],
       [324.63712004],
       [412.19484826],
       [131.5009237 ],
       [187.43243445],
       [181.9833625 ],
       [180.21065425],
       [180.21065425],
       [256.95386817],
       [231.3230958 ],
       [177.09431087],
       [251.78480638],
       [266.2283668 ],
       [203.15415639],
       [315.92264174],
       [204.35778643],
       [250.58117635],
       [188.63606449],
       [198.26510476],
       [213.90774615],
       [177.09431087],
       [189.83969452],
       [187.43243445],
       [129.93820296],
       [244.91756783],
       [162.15620373],
       [241.58668788],
       [237.48125105],
       [252.4193582 ],
       [253.1284415 ],
       [273.59015209]])

In [35]:
df_test.insert(df_test.shape[1], "Prediction2", prediction2)

In [36]:
df_test

,MODELYEAR,MAKE,MODEL,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,CO2EMISSIONS,Prediction1,Prediction2
2,2014,ACURA,ILX HYBRID,1.5,4,6.0,136,145.790136,135.107265
12,2014,ASTON MARTIN,DB9,5.9,12,18.0,359,424.608727,396.473126
14,2014,ASTON MARTIN,V8 VANTAGE,4.7,8,17.4,338,338.041139,334.331634
16,2014,ASTON MARTIN,V8 VANTAGE S,4.7,8,17.4,338,338.041139,334.331634
25,2014,AUDI,A6 QUATTRO,2.0,4,12.0,235,210.073720,209.097775
...,...,...,...,...,...,...,...,...,...
1055,2014,VOLKSWAGEN,TOUAREG TDI CLEAN DIESEL,3.0,6,12.3,281,249.711319,241.586688
1059,2014,VOLVO,S80,3.2,6,11.9,235,243.298800,237.481251
1060,2014,VOLVO,S80 AWD,3.0,6,13.2,264,260.037518,252.419358
1063,2014,VOLVO,XC60 AWD,3.2,6,13.2,264,258.214421,253.128441
1066,2014,VOLVO,XC90 AWD,3.2,6,14.9,294,277.719463,273.590152